/*noinspection ALL*/
@nilmod {
	name: "Aleph";
	description: "An invisible library for Nil.";
	authors: "LemmaEOF";
	version: "${version}";
}
/*noinspection ALL*/
entrypoints {
	premain: "gay.lemmaeof.aleph.Aleph";
	hijack: "gay.lemmaeof.aleph.Aleph"; /*hijack _should_ be fine to run at the same point*/
}
