@nilmod {
	name: "Aleph";
	description: "An invisible library for Ø̲.";
	authors: "LemmaEOF";
	version: "${version}";
}

entrypoints {
	premain: "com.unascribed.niltest.NilTest";
	client: "com.unascribed.niltest.NilTestClient";
}